<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title ,:label => t('views.question.title') %>
  </div>

  <div class="actions">
    <%= f.button :submit ,:value => t('submit')%>
  </div>
<% end %>
