<h1><%= t('views.question.list') %></h1>

    <%= render :partial => 'question_item' ,:collection => @questions ,:as => :question%>


<br />

<%= link_to t('views.question.new_question'), new_question_path %>



