<h1><%= t('views.article.list') %></h1>



    <%= render :partial => 'article_item' ,:collection => @articles ,:as => :article%>


<br />

<%= link_to t('views.article.new_article'), new_article_path %>
