<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :body ,:label => t('views.answer.body')%>
  </div>

  <div class="actions">
    <%= f.button :submit ,:value => t('submit')%>
  </div>
<% end %>
