<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name ,:label => t('views.category.name')%>
  </div>

  <div class="actions">
    <%= f.button :submit ,:value => t('submit')%>
  </div>
<% end %>
